body {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

img {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 0px;
  margin: 5px;
}

img.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.right {
  float: right;
}

div.right {
  border: 0px;
  float: right;
}

li {
  margin-top: 0.75em;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

p.newsitem {
  border: 1px solid #222;
  padding: 20px;
  background-color: lightblue;
  font-size: 0.8em;
}

